.App {
  background: #ffb7a1;
}

.App-logo-bar {
  background: #f8f9fa;
  display: flex;
}

.App-logo {
  max-width: 200px;
  margin: 10px auto;
  display: block;
  
}

.App-footer {
  font-size: 13px;
  text-align: center;
  color: #786f6f;
}

.App-link {
  color: #ff6150;
  text-decoration: none;
}

.App-main {
  margin: 20px;
  text-align: center;
}
